body {
    font-family:sans-serif;
    padding:0;
    margin:0;
    color:#4e443c;
    background:#ebe9e1 url("/static/background.jpg");
}

html, body {
    height:100%;
}
img#github_ribbon {
    position: absolute; top: 0; right: 0; border: 0;
    width:120px;
    height:120px;
}
#form {
    background:url("/static/background.jpg");
    float:left;
    width:10em;
    height:100%;
    box-shadow:0 0 10px #000;
    position:fixed;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
}

#cards {
    margin:0 0 0 12em;
    padding-top:1em;
}

#cards h1 {
    margin:0;
    text-transform:capitalize;
}

#cards ul {
    list-style:none;
    margin:0;
    padding:0;
}

#cards ul li {
    padding:0.3em;
}

#cards .expansion {
    width:10em;
    float:left;
    padding:0.5em;
    margin-right:0.5em;
    margin-bottom:0.5em;
    min-height:9em;
    background: #fcfcfa;
    border: solid 1px #e2e0d8;
}

#cards .expansion h1 {
    font-size:1.5em;
}

#form label {
    display:block;
    -webkit-user-select:none;
    padding:0.9em;
    margin:0;
    border-top: solid 1px #e2e0d8;
    white-space: nowrap;
}


#form input:checked + label{
}

#form input[type=checkbox] {
    float:right;
    font-size:1em;
    line-height:1;
    margin:1em;
    padding:0;
}

input[type=submit] {
    -webkit-appearance:none;
    display:block;
    font-size:1em;
    border:none;
    padding:1em;
    cursor:pointer;
}


#form input[type=submit] {
    width:100%;
    background:#f14e32;
    color:#fff;
}

#form input[type=submit]:hover {
    background:#f14e32;
    box-shadow:0px 0px 5px #000 inset ;
}
#form input[type=submit]:active {
    background:#f14e32;
    box-shadow:0px 0px 10px #000 inset;
}

@media screen and (max-width: 36em) {
    body{
        background: #fcfcfa;
    }
    #cards {
        margin-left:10em;
    }
    #cards .expansion {
        float:none;
        min-height:0;
        border:none;
        width:auto;
        margin-right:0;
        padding-left:2em;
        border-bottom:1px solid #e2e0d8;
    }
}
@media screen and (max-width: 28em) {
    img#github_ribbon {
        display:none;
    }
}
@media screen and (max-width: 20em) {
    section#form, section#cards, #cards .expansion {
        float:none;
        width:auto;
        height:auto;
        position:static;
    }

    * {
        border-radius:0!important;
    }
    #form label {
        margin:0;
        border:none;
        border-bottom:1px solid #d5d5d5;
    }

    #form input[type=submit] {
        margin:0;
        border:none;
    }

    body {
        margin:0;
    }

    #form form {
        margin:0;
    }

    #cards {
        margin:0;
        padding:0;
    }

    #cards .expansion {
        margin:0 0 0.5em 0;
        padding:0;
        border:none;
        min-height:0;
    }

    #cards .expansion h1 {
        padding:0.25em 1em;
        font-size:1em;
        margin:0;
        background: #d1d1d1; /* Old browsers */
        background: -moz-linear-gradient(top, #d1d1d1 0%, #e5e5e5 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #d1d1d1 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, #d1d1d1 0%,#e5e5e5 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, #d1d1d1 0%,#e5e5e5 100%); /* IE10+ */
        background: linear-gradient(to bottom, #d1d1d1 0%,#e5e5e5 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    }

    #cards .expansion ul {
        margin-left:1em;
    }
}

