<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Dominion Randomizer{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <header>
        <h1>Dominion Randomizer</h1>
    </header>
    
    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <footer>
    {% block footer %}
    <p>&copy; Copyright 2011 by <a href="http://cypressf.com">Cypress</a>.</p>
    {% endblock %}
    </footer>
</body>
</html>