{% extends "base.html" %}

{% block content %}

<section id="form">
    <form method="GET" action="#randomize">
        {% for e in all_expansions %}
        <label><input type="checkbox" name="expansion" value="{{ e }}"{% if e in expansions %} checked{% endif %}> {{ e }}</label>
        {% endfor %}
        <input type="submit" value="Randomize!" id="randomize">
    </form>
</section>

{% if cards %}
<section id="cards">
    {% for expansion in cards %}
    <div id="{{ expansion }}" class="expansion">
    <h1>{{ expansion }}</h1>
    <ul>
        {% for c in cards[expansion] %}
        <li>{{ c }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endfor %}
</section>
{% endif %}

{% endblock %}